@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select 
                        name="category" 
                        class="form-select" 
                        asp-items="@(new SelectList(Model.Categories," CategoryId","Name", Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>





@* table-striped -> satırların rengi farklı olmasını sağlıyor *@
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*  Product propertylerin isimlerini almak için *@
            @*@model IEnumerable<Product> kullanıldı*@            
            <th style="width:100px" >@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th style="width:100px">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Name)</th>
            <th style="width:100px">@Html.DisplayNameFor(m => m.Products[0].Price)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Products)
        {
            <tr>
                <td class="Table-index" >@prod.ProductId</td>
                <td class="Table-index">
                    @* class="img-fluid" resmin tam sığması için *@
                    <img src="~/img/@prod.Image" class="img-fluid" alt="" >
                </td>
                <td class="Table-index">@prod.Name</td>
                <td class="Table-index">@prod.Price</td>

                <td class="Table-index">
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>
